<div class="panel-body">
  <div class="border margin p-3">
    <p class="h3 p-2 pais-name">{{ paisDetail.name }}</p>
    <div class="row">
      <div class="col-md-3">
        <div class="thumb">
          <img
            class="img-fluid img-thumbnail border border-danger"
            src="{{ paisDetail.image }}"
            alt="{{ paisDetail.name }}"
          />
        </div>
      </div>
      <div class="col-md-7">
        <dl>
          <dt class="text-title">Bio</dt>
          <dd class="text">{{ paisDetail.des }}</dd>
         
        </dl>
       
       
        
      </div>
    </div>
  </div>
</div>
